# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build artifacts
mergerfs
obj/
src/version.hpp
build/

# Debian files
debian/files
debian/changelog

# RPM files
rpmbuild/
